.navbar {
  height: 80px;
  width: 100%;
  background: skyblue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-size: 1.3rem;
}
.nav-item{
  padding: 15px;
  list-style-type: none;
  color:white;
  text-align: center;
  text-decoration: none;
}
/*icon*/
.nav-item a{
  color:white;
  text-align: center;
  text-decoration: none;
}
/*Home*/
.navbar-logo{
  text-decoration:none;
  color: white;
}


.nav-links{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 15px;
  list-style: none;
}

